.parent {
  background-color: #0e0f1e;
  width: 100%;
  color: white;
  font-family: "Open Sans";
  display: flex;
  padding: 4rem;
  flex-wrap: wrap;
}
.parent2 {
  background-color: #0e0f1e;
  width: 100%;
  color: white;
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  position: relative;
  bottom: 0.1rem;
  padding: 1rem 0px;
  display: none;
}





.parent > div:nth-child(1) {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}


.parent > div:nth-child(1) > img {
  width: 60%;
}

.parent > div:nth-child(3) {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.parent > div:nth-child(4) {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.parent > div:nth-child(5) {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.parent > div:nth-child(5) div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
@media (max-width:1150px) {
  .parent2{
    display: flex;
  }
  .parent > div:nth-child(5) {
    display: none;
    flex: 0 !important;
  }
}
.twitterwdc {
  display: none !important ;
}

.parent > div:nth-child(6) {
    display: none;
}
@media (max-width: 700px) {
  .parent {
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 0.5rem;
  }
  .parent > div:nth-child(1) > p {
    display: none;
  }
  .parent > div:nth-child(1) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .parent > div:nth-child(1) > img {
        width: 80%;
    }

  .parent > div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .parent > div:nth-child(2) img {
    width: 40px;
    height: 40px;
  }
  .twitterwdc {
    display: block !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .parent div:nth-child(3){
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.parent div:nth-child(4){
    flex: 1.5;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .parent > div:nth-child(5) div {
    display: none;
  }
  .parent2 {
    display: none;
  }
  .parent > div:nth-child(6) {
    display: block;
}
}

.parent p {
  cursor: pointer;
  font-size: 20px;
  color: #F6F6F6;
  font-weight: 400;
}


.parent2 > div {
  display: flex;
  gap: 1rem;
}
.parent2 p {
  cursor: pointer;
  font-size: 20px;
  color: #F6F6F6;
  font-weight: 400;
}

.copyr{
  opacity: 0.7 !important;
}
