/* NAVBAR STYLING */
.HeaderParent {
  width: 100%;
  position: relative;
  padding-bottom: 3rem;
}

.Navbar {
  width: 85%;
  margin: auto;
  padding: 2rem 0px;
  display: flex;
}

.Navbar > div:nth-child(1) {
  width: 50%;
}

.Navbar > div:nth-child(2) {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  gap: 2.5rem;
}

.Navbar > div:nth-child(2) p{
  font-family: 'Open Sans';
  cursor: pointer;
}

.Navbar > div > button {
  width: 193px;
  height: 52px;
}

.Navbar > div:nth-child(2) > button:nth-child(5) {
  width: 124px;
  height: 38px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: 700;
  background: #f6f6f6;
  border-radius: 4px;
  color: #7d75d8;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  border: none;
}

.Navbar div:nth-child(2) > button:nth-child(5) {
  display: none;
}

.burger {
  display: none;
}

@media (max-width: 1250px) {
  .Navbar {
    width: 95%;
    margin-left: 5%;
  }
  .Navbar > div:nth-child(1) {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .Navbar > div:nth-child(2) {
    width: 70%;
  }
}

@media (max-width: 1100px) {
  .Navbar > div:nth-child(1) {
    width: 30%;
  }
  .Navbar > div:nth-child(2) {
    width: 70%;
  }
  .Navbar > div:nth-child(1) img {
    width: 250px;
  }
}

@media (max-width: 900px) {
  .Navbar > div:nth-child(1) {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .Navbar > div:nth-child(2) {
    width: 70%;
  }
  .Navbar > div > button:nth-child(4) {
    display: none;
  }
  .Navbar > div > button:nth-child(5) {
    display: block !important;
  }
  .Navbar img {
    width: 200px;
    height: 38px;
  }
}

@media (max-width: 750px) {
  .Navbar > div:nth-child(2) {
    gap: 1.5rem;
  }
  .Navbar {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .burger {
    width: 19px !important;
    height: 18px !important;
    display: block;
  }

  .Navbar > div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .Navbar > div > img {
    margin: 0;
  }
  .Navbar div:nth-child(2) p {
    display: none;
  }
  .Navbar > div:nth-child(2) > button:nth-child(4) {
    display: none;
  }
  .Navbar > div:nth-child(4) > div:nth-child(6) {
    width: 20%;
  }
}

@media (max-width: 475px) {
  .Navbar > div:nth-child(1) img {
    width: 121px;
    height: 38px;
  }
  .Navbar {
    padding:1.5rem 0px ;
    width: 87%;
  }
  .Navbar > div:nth-child(2) > button:nth-child(5) {
    font-size: 12px;
    height: 38px;
  }
  .burger {
    top: 4.2rem;
    right: 0.7rem;
  }
  .Navbar > div:nth-child(1) {
    width: 40%;
  }
  .Navbar > div:nth-child(2) {
    width: 60%;
    gap: 0.5rem;
  }
}

@media (max-width: 340px) {
  .Navbar > div:nth-child(2) > button:nth-child(5) {
    display: none;
  }
}

/* HERO SECTION */
.Header {
  display: flex;
  width: 92.5%;
  justify-content: flex-end;
  margin-left: 7.5%;
  position: relative;
  z-index: 1;
  font-family: 'Open Sans';
}


.HeaderP1 {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  margin-top: 6%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.HeaderP1 > div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.HeaderP2 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.heroBtns > button:nth-child(1) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 223px;
  height: 60px;
  padding: 14px 48px;
  gap: 8px;
  border-radius: 8px;
}

.heroBtns > button:nth-child(1) img {
  width: 32px;
  height: 32px;
}

.heroBtns > button:nth-child(2) {
  padding: 14px 48px;
  gap: 8px;
  width: 182px;
  height: 58px;
  background: #f6f6f6;
  border-radius: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #7d75d8;
}


.HeaderP2 > img {
  width: 95%;
  height: 100%;
}

@media (max-width: 1024px) {
  .heroBtns > button:nth-child(1) {
    width: 80%;
  }

  .heroBtns > button:nth-child(2) {
    width: 80%;
  }
  .heroBtns {
    flex-direction: column;
  }
}

@media (max-width: 769px) {
  .Header {
    flex-direction: column-reverse;
  }
  .HeaderParent > img:nth-child(2) {
    display: none;
  }
  .HeaderParent {
    background-image: url(".././Images/hero-bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .curvers {
    display: none !important;
  }
  .Header {
    width: 100%;
    margin-left: 0%;
  }
  .HeaderP2 {
    position: relative;
    z-index: 2;
    background-color: transparent;
  }
  .HeaderP2 > img:nth-child(2) {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .HeaderP1 {
    padding: 0px 1.5rem;
    gap: 2rem;
    width: 85%;
    margin-left: 5%;
  }
  .heroBtns > button{
    height: 48px !important;
    font-size: 16px !important;
    line-height: 24px !important;
    width: 40% !important;
    font-weight: 600  ;
  }
  .heroBtns > button img{
    width: 20px !important;
    height: 20px !important;
  }

  .heroBtns {
    gap: 1rem !important  ;
    flex-direction: row;
  }
  .heroBtns > button:nth-child(2){
    background: #303365;
    color: #7d75d8;
    font-weight: 700 !important ;
    
  }
  .HeaderParent > img:nth-child(5){
    display: none ;
  }
  .HeaderP1 > p:nth-child(2){
    font-size: 55px;
    width: 70%;
  }
  .HeaderP1 > p:nth-child(3){
    padding-right: 2rem;
  }
}

@media (max-width: 500px) {
  .heroBtns > button{
    width: 100% !important;
  }
  .HeaderP1{
    width: 95%;
    padding: 0px 1rem;
    gap: 1rem;
    margin:6% auto 0px auto;
  }
  .heroBtns{
    flex-direction: column;
    margin-top: 0.5rem;
  }
  .HeaderP1 > p:nth-child(2){
    font-size: 40px;
    width: 100%;
  }
}

/* Offcanvas */

.offcanvas {
  background-color: rgba(225, 225, 225, 4);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0%;
  top: -100vh;
  z-index: 65656767500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url("../Images/hero-bg.png");
  background-position: center;
  transition: 1.5s;
}

.offcanvas > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.offcanvas p {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  cursor: pointer;
}
.cencel {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

@media (max-width: 1300px) {
  .NavbarP {
    gap: 1rem;
  }
  .NavbarP div:nth-child(2) {
    flex: 2.5;
  }
}

@media (min-width: 700px) {
  .offcanvas {
    display: none !important ;
  }
}

@media (max-width: 500px) {
  .offcanvas {
    display: flex;
  }
}

.HeaderP2 > img:nth-child(4) {
  position: absolute;
  top: 45%;
  right: 0%;
  width: 50%;
  height: 50%;
  transform: rotate(180deg);
}
.HeaderP2 > img:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 50%;
  height: 50%;
}

@media (max-width: 500px) {
  .HeaderP2 > img:nth-child(3) {
    width: 70%;
    height: 70%;
  }
  .HeaderP2 > img:nth-child(4) {
    width: 70%;
    height: 70%;
  }
}

@media (min-width: 700px) {
  .HeaderP2 > img:nth-child(4) {
    display: none;
  }

  .HeaderP2 > img:nth-child(2) {
    display: none;
  }
  .HeaderP2 > img:nth-child(3) {
    display: none;
  }
}

@media (max-width: 700px) {
  .HeaderP2 {
    position: relative;
  }
  .HeaderP2 > img:nth-child(1) {
    display: none;
  }
}
