.HeaderParent {
  width: 100%;
  background-image: url("../Images/hero-bg.png");
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 3rem  ;
}

.Navbar {
  width: 90%;
  margin: auto;
  padding: 2rem 0px;
  display: flex;
  z-index: 50000;
}

.Navbar > div:nth-child(1) {
  width: 50%;
}
.Navbar > div:nth-child(2) {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 0px 1rem;
}

.Navbar p {
  flex: 1;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.Navbar > div > button {
  position: relative;
  z-index: 100;
  cursor: pointer;
  width: 200px;
}

.Navbar > div:nth-child(2) > button:nth-child(5) {
  width: 50%;
  padding: 0.5rem 0rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: black;
  font-weight: 700;
  background: #f6f6f6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7d75d8;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  border: none;
}

.Navbar div:nth-child(2) > button:nth-child(5) {
  display: none;
}
@media (max-width: 1250px) {
  .Navbar {
    width: 95%;
  }
  .Navbar > div > img {
    margin-left: 4rem;
  }
}
@media (max-width: 960px) {
  .Navbar {
    width: 100%;
  }
  .Navbar > div:nth-child(1) {
    width: 70%;
  }
  .Navbar > div:nth-child(2) {
    text-align: center;
    width: 110%;
  }
  .Navbar > div > img {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .Navbar {
    width: 100%;
  }
  .Navbar > div > img {
    margin-left: 1rem;
  }
  .Navbar > div:nth-child(1) {
    width: 80%;
  }
  .Navbar > div > img {
    margin-left: 2rem;
    width: 70%;
  }
  .Navbar > div:nth-child(2) {
    width: 120%;
  }
}
@media (max-width: 800px) {
  .Navbar > div:nth-child(2) > p:nth-child(1) {
    display: none;
  }
}

.burger {
  display: none;
}

@media (max-width: 600px) {
  .burger {
    display: block;
    z-index: 3;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    margin-top: 7px;
  }

  .burger img {
    width: 25px;
    height: 25px;
  }
  .Navbar {
    padding: 1rem 0rem;
  }
  .Navbar div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Navbar > div > img {
    margin: 0;
  }
  .Navbar div:nth-child(2) p {
    display: none;
  }
  .Navbar > div:nth-child(2) > button:nth-child(4) {
    display: none;
  }
  .Navbar > div:nth-child(2) > button:nth-child(5) {
    text-align: center;
    display: block;
    position: absolute;
    right: 4rem;
    top: 1.2rem;
    width: 30%;
  }
  .Navbar > div:nth-child(4) > div:nth-child(6) {
    width: 20%;
  }
  .Navbar > div:nth-child(1) {
    width: 120%;
  }
  .Navbar > div:nth-child(2) {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .Navbar > div:nth-child(1) {
    width: 100%;
  }
  .Navbar > div:nth-child(1) img {
    width: 170px;
    margin-left: 2rem;
  }
  .Navbar > div:nth-child(2) > button:nth-child(5) {
    display: none;
  }
  .burger {
    top: 1rem;
  }
}

.Header {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  margin: auto;
  margin-left: 10%;
  padding-top:4rem ;
}

.HeaderP1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 10;
}

.HeaderP1 > p:nth-child(1) {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 120%;
  color: white;
}
.HeaderP1 > p:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: white !important;
}
.HeaderP1 > div {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.HeaderP2 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.HeaderP2 > img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

@media (max-width: 900px) {
  .HeaderP1 > p:nth-child(1) {
    font-size: 56px;
  }
}

.illisp1 {
  display: none;
}
.illisp2 {
  display: none;
}



@media (max-width: 700px) {
  .HeaderP1 > p:nth-child(1) {
    font-size: 36px;
  }
  .Header {
    flex-direction: column-reverse;
    gap: 4rem;
  }

  .HeaderParent {
    background-repeat: repeat;
  }
  .HeaderP1 > div {
    flex-direction: column;
    gap: 1rem;
    width: 80%;
  }
  .HeaderP1 > div button:nth-child(2) {
    background-color: #303365;
  }
  .HeaderP1 > p:nth-child(2) {
    font-size: 22px;
    line-height: 2rem;
    color: gray;
  }
  .HeaderP1 div {
    margin: auto;
  }
  .HeaderP1 > div button {
    width: 100%;
    margin-right: 2rem;
    /* margin: auto; */
  }
  .HeaderP1 {
    position: relative;
    overflow: hidden;
  }

  .HeaderP1 div {
    position: relative;
  }
  .illisp2 {
    display: block;
    position: absolute;
    width: 80%;
    bottom: 0%;
    left: 0%;
    z-index: 5;
  }
  
  .illisp1 {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: scale(1);
    z-index: 1;
  }
}

.curvers {
  position: absolute;
  width: 80%;
  top: 0%;
  left: 10%;
  z-index: 100000876;
}




.offcanvas {
    background-color:rgba(225, 225, 225, 4);
    width: 100%;
  height: 100vh;
  position: absolute;
  top:0%;
  left: 0%;
  top: -100vh;
  z-index: 106768400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url("../Images/hero-bg.png");
  background-position: center;
  transition: 1.5s;
  z-index: 76536;
  display: none;
}

.offcanvas > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.offcanvas p {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  cursor: pointer;
}
.cencel {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

@media (max-width: 1300px) {
  .NavbarP {
    gap: 1rem;
  }
  .NavbarP div:nth-child(2) {
    flex: 2.5;
  }
}
@media (min-width: 500px) {
  .offcanvas {
    display: none !important ;
  }
}

@media (max-width: 500px) {
  .offcanvas {
    display: flex;
  }
}


.offcanvas  button {
  width: 40vw;
  
}
@media (max-width: 400px) {
  .offcanvas  button {
    width: 50vw;
    
  }
}