.Parent {
  background-image: url(../Images/Frame\ 81.png);
}

.divOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.divOne > p:nth-child(1) {
  font-size: 42px;
  font-family: "prata";
}

.divOne > img:nth-child(2) {
  width: 25%;
}

.divOne > p:nth-child(3) {
  font-size: 28px;
  width: 40%;
  text-align: center;
  color: #303365;
}

.divOne > img:nth-child(4){
    width: 50%;

}
.divTwo {
    width: 80%;
    display: flex;
    margin: auto;
    background-color: blueviolet;
}
.divTwo > div:nth-child(1) > img{
    width:80% ;

}
.divTwo > div:nth-child(2) {
    flex: 1;
    display: flex;
    flex-direction: column;

}
