.Parent {
  background-color: #f6f6f6;
  height: 50%;
  padding-bottom: 4rem;
}

.GrandParent {
  position: relative;
  width: 100%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 2rem 12rem 2rem;
}
.divOne > p:nth-child(2) {
  font-size: 42px;
  font-family: "prata";
}

.divOne > img:nth-child(3) {
  width: 25%;
}

.divOne > p:nth-child(4) {
  font-size: 28px;
  width: 40%;
  text-align: center;
  color: #303365;
}

.divOne > img:nth-child(4) {
  width: 50%;
}
.divTwo {
  width: 90%;
  /* height: 400px; */
  display: flex;
  margin: auto;
  background-color: blueviolet;
  border-radius: 10px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.divTwo > div:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}
.divTwo > div:nth-child(1) > img {
  position: relative;
  bottom: 14vh;
  right: 3rem;
  width: 80%;
}
.divTwo > div:nth-child(2) {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin-right: 1rem;
  width: 40%;
  flex-direction: column;
  z-index: 2;
  color: white;
}

.divTwo > div:nth-child(2) p:nth-child(1) {
  font-family: "prata";
  font-size: 32px;
  font-weight: 400;
}

.divTwo > div:nth-child(2) p:nth-child(2) {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 400;
}
.Div3 {
  width: 100%;
  padding: 8rem 0px;
  background-color: #F1F0F9;
}

.Div3 p:nth-child(1) {
  font-weight: 500;
  font-size: 32px;
  font-family: "prata";
  text-align: center;
  margin-bottom: 2rem;
}
.hr {
  width: 80%;
  margin: 1rem 0px;
}
.cardsP {
  width: 100%;
  width: 90%;
  margin: auto;
  padding: 2rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem 3rem;
}

.cardsP > div {
  padding: 1rem;
  width: 30%;
  border-radius: 8px;
  background-color: white;

}

.cardsP > div p:nth-child(2) {
font-family: 'prata';
font-size: 32px;
font-weight: 500;
}

.Div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
width: 100%;
  padding: 7rem 0px;
  background-color: #f6f6f6;
  gap: 1rem;
}

.Div4 img:nth-child(1){
  width: 30%;
}
.Div4 p:nth-child(2){
  font-family: 'prata';
  font-size: 34px;
  font-weight: 500;
}
.Div4 div:nth-child(4) {
  display: flex;
  width: 30%;
  gap: 0.5rem;
}
.Div4 div:nth-child(4) > input{
  outline: 0;
  border: 0;
  flex: 3;
  font-size: 18px;
  box-shadow: 0px 0px 2px gray;
  border-radius: 4px;

}
.Div4 div:nth-child(4)  div{
  color: white;
  flex: 1;
}