.parent {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  outline: 0;
  position: relative;
  z-index: 289436;
  background-color: #f6f6f6 !important;
}



.imgP {
  width: 100% ;
  margin:1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img:hover{
  background-color: #7d75d8;
}
.img {
  box-shadow: 0px 0px 5px rgb(171, 171, 171);
  padding: 1rem;
  width: 95%;
  margin: auto;
  border-radius: 9px;
}
.imgP > * {
  display: none;
}

.imgP >div > img {
    display: none;
}

.imgP span {
  display: none;
}


@media (min-width: 600px) {
.img {
  height: 467px;
}
}
@media (max-width: 600px) {
  .imgP span{
    display: block;
  }
  .imgP > * {
    display: block;
  }
  .imgP p{
    padding:0.5rem 1rem !important;
  }
  .imgP > img {
    display: block;
  }
  
.imgP >div > img {
    display: block;
}
  .imgP {
    background: linear-gradient(180deg, #7d75d8 0%, #7d75d8 100%);
    padding: 0rem 0rem 1rem 0rem;
    border-radius: 9px;
  }
  .img {
    box-shadow: none;
  }
  .Part1 > div:nth-child(1){
    font-size: 24px;
    font-weight: 400;
  }
}

.imgP > div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;
}

.imgP > p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans";
  padding: 0.5rem 0px;
  color:#FFFFFF;
}

.imgP span {
  width: 10px ;
  height: 10px ;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.spanP {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem ;

}

.imgP > p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
  padding: 1rem 0px;
  color:#F6F6F6
}


/* dg */
.pp {
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.Part1{
  display: flex;
  width: 80%;
  margin: auto;
  padding:1rem 0px;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}
.Part1 > div:nth-child(1){
  width: 90%;
font-family: 'Prata';
font-size:38px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
}
.Part1> div:nth-child(2){
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 1rem;
}

@media (max-width:650px){
  .Part1 {
    flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
  }
  .pp{
    padding: 0px 0px 3rem 0rem;
  }
  .imgP {
margin: auto;
  }
  .Part1 p{
    text-align: center;
  }
  .Part1 > div:nth-child(2) {
      margin: auto;
    }
    .pp {
      gap: 0px;
    }
  }
  
  .arrows p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  font-size: 80px;
  line-height: 48px;
  font-weight: 600;
  color: #7d75d8;
  cursor: pointer;
  user-select: none;
}


@media (max-width:500px){
  .Part1 > div:nth-child(1) > p:nth-child(1){
      font-size: 28px;
  }
  .arrows p {
    font-size: 80px !important;
  }
}
.pp > p:nth-child(3){
  font-family: 'prata';
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
}
.pp > div:nth-child(4){
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 1rem;
}

.hr {
  width:50%;
  display: block;
  margin: 1rem auto;
}