.Parent {
    padding: 1rem 0rem;
}
.Part1{
    display: flex;
    width: 80%;
    margin: auto;
    padding:1rem 0px;
    position: relative;
}
.Part1 > div:nth-child(1){
    width: 90%;
font-family: 'Prata';
font-size:30px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
}
.Part1> div:nth-child(2){
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:400px){
    .Part1 > div:nth-child(1) > p:nth-child(1){
        font-size: 22px;
    }
}

.arrows p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
    color: #7d75d8;
}
.Parent > p:nth-child(3){
    font-family: 'prata';
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.Parent > div:nth-child(4){
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1rem;
}

.hr {
    width:50%;
    display: block;
    margin: 1rem auto;
}

.Parent button{
    width: 245px;
    height: 64px;
    padding: 14px 48px;
    border-radius: 8px;
}

@media (max-width:650px){
    .Parent > p:nth-child(3){
        font-size: 24px !important;
        font-weight: 400;
    }
    .Part1 {
        flex-direction: column;
    }
    .Part1 > div:nth-child(1) > p{
        font-size: 28px;
        text-align: center;
    }
    .Part1 > div:nth-child(2) {
        margin: auto;
    }
    .Part1 > div:nth-child(1) > p:nth-child(1){
        font-size: 25px;
    }
    .Parent {
        padding:0rem 0px 1rem 0px;
    }
    .Parent button{
        width: 147px;
        height: 48px;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 600;
    }
}