.parent {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  outline: 0;
}

.imgP {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  box-shadow: 0px 0px 5px rgb(171, 171, 171);
  padding: 1rem;
  width: 100%;
  height: 400px;
  border-radius: 9px;
}
.imgP > * {
  display: none;
}

.imgP >div > img {
    display: none;
}

@media (max-width: 600px) {
  .imgP > * {
    display: block;
  }
  .imgP > img {
    display: block;
  }
  
.imgP >div > img {
    display: block;
}
  .imgP {
    background: linear-gradient(180deg, #7d75d8 0%, #7d75d8 100%);
    padding: 0rem 0rem 1rem 0rem;
    border-radius: 9px;
  }
}

.imgP div {
  display: flex;
  justify-content: space-between;
  padding: 0px 1rem;
}

.imgP > p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans";
  padding: 0.5rem 0px;
}

.imgP > p:nth-child(3) {
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
  padding: 1rem 0px;
}


/* dg */
.pp {
  padding: 1rem 0rem;
}
.Part1{
  display: flex;
  width: 80%;
  margin: auto;
  padding:1rem 0px;
  position: relative;
}
.Part1 > div:nth-child(1){
  width: 90%;
font-family: 'Prata';
font-size:30px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
}
.Part1> div:nth-child(2){
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:650px){
  .Part1 {
      flex-direction: column;
  }
  .Part1 > div:nth-child(1) > p{
      font-size: 28px;
      text-align: center;
  }
  .Part1 > div:nth-child(2) {
      margin: auto;
  }
  .Part1 > div:nth-child(1) > p:nth-child(1){
      font-size: 25px;
  }
}
@media (max-width:400px){
  .Part1 > div:nth-child(1) > p:nth-child(1){
      font-size: 22px;
  }
}

.arrows p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
  color: #7d75d8;
  cursor: pointer;
  user-select: none;
}
.pp > p:nth-child(3){
  font-family: 'prata';
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
}
.pp > div:nth-child(4){
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 1rem;
}

.hr {
  width:50%;
  display: block;
  margin: 1rem auto;
}