.parent {
  width: 93%;
  margin-left:7% ;
  border-radius: 5px;
  outline: 0;
  background-color: #f6f6f6 !important;
}

@media (max-width: 800px) {
  .parent{
    width: 100%;
    margin-left: 0%;
  }

}
.imgP {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img:hover {
  background-color: #7d75d8;
}
.img {
  box-shadow: 0px 0px 5px rgb(171, 171, 171);
  padding: 1rem;
  width: 95%;
  margin: auto;
  border-radius: 9px;
}
.imgP > * {
  display: none;
}

.imgP > div > img {
  display: none;
}

.imgP span {
  display: none;
}

@media (min-width: 1400px) {
  .img {
    width: 380px;
    height: 515px;
  }
  .imgP {
    margin-left: 5rem;
  }
}
@media (min-width: 600px) {
  .img {
    width: 90%;
    height: 515px;
  }
}

@media (max-width: 600px) {
  .imgP span {
    display: block;
  }
  .imgP > * {
    display: block;
  }
  .imgP p {
    padding: 0.5rem 1rem !important;
  }
  .imgP > img {
    display: block;
  }

  .imgP > div > img {
    display: block;
  }
  .imgP {
    background: linear-gradient(180deg, #7d75d8 0%, #7d75d8 100%);
    border-radius: 9px;
    width: 85% !important;
    margin-left:5% !important ;
    padding-top: 1.2rem;
  }
  .img {
    width:90% !important;
    height: 301px;
    box-shadow: none;
    padding: 0rem;
  }
  .Part1 > div:nth-child(1) {
    font-size: 24px;
    font-weight: 400;
  }
}

.imgP > div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;
}

.imgP > p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans";
  padding: 0.5rem 0px;
  color: #ffffff;
}

.imgP span {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}
.spanP {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.imgP > p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
  padding: 1rem 0px;
  color: #f6f6f6;
}

/* Slider UpperSite Content */
.pp {
  padding: 3rem 0px 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Part1 {
  display: flex;
  width: 85%;
  margin: auto;
  padding: 1rem 0px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.Part1 > div:nth-child(1) {
  font-family: "Prata";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
.Part1 > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 900px) {
  .Part1 > div:nth-child(1) {
    font-size: 32px;
  }
}

@media (max-width: 650px) {
  .Part1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0px;
  }
  .pp {
    padding: 0px 0px 3rem 0rem;
  }
  .imgP {
    margin: auto;
  }
  .Part1 p {
    text-align: center;
  }
  .Part1 > div:nth-child(2) {
    margin: auto;
  }
  .pp {
    gap: 0px;
  }
  .Part1 > div:nth-child(1) {
    font-size: 24px;
    line-height: 28px;
  }
}

.pp > p:nth-child(3) {
  font-family: "prata";
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
}
.pp > div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.hr {
  width: 50%;
  display: block;
  margin: 1rem auto;
}
